/* upload image css start */




/* upload image css end */




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.btn{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #ff9748;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.btn:hover::before{
  width: 100%;
}


/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--main);
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--main);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--main);
}

#menu-btn{
  display: none;
}

/* login form */

.header .login-form{
  position: absolute;
  top: 115%;
  right: -105%;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: .7rem;
  text-align: center;
}

.header .login-form .box{
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  margin: .7rem 0;
  color: var(--black);
  width: 100%;
  text-transform: none;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .login-form .btn{
  width: 100%;
  text-align: center;
}

/* end */



/* navigation css  */


a {
  cursor: pointer;
}


/* navigation css */

#homee {
  background-color: #ff6e01;
  color:#fff;
  border-radius: 6px;
  margin:2px 25px 0 5px;
}

#homee:hover {
  background-color: #ff6e01;
}

.navbar {
  overflow: hidden;
  background-color: rgb(237, 237, 243);
  height: 58px;
  text-align: center;
  box-shadow: 0 5px 7px grey;
  
}

.sign-btn {
  margin: 5px 0px 0px 0px;
  padding: 0%;
  text-align: right;
}

.navbar a {
  float: left;
  font-size: 17px;
  color: #ff6e01;
  font-weight: 600;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.animal-treatment i {
  margin-right: 25px;
}

.animal-care i {
  margin-right:25px;
}

.contact-ngos i {
  margin-right: 25px;
}

.find-people i {
  margin-right: 25px;
}


.dropdown button {
  cursor: pointer;
}


.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #ff6e01;
  font-weight:600;
  padding: 19px 16px 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.6s ease;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 5px;
}

.dropdown-content a {
  float: none;
  color: #ff6e01;
  /* background-color: white; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  background-color: #ff6e01;
  color:white;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.show{
  display: block;
}


/* signin signup buttons  */

.sign-btn {
  box-sizing: border-box;
}

.sign-btn button {
  background-color:rgb(237, 237, 243);
  width: 100px;
  line-height: 30px;
  color: #ff6e01;
  font-weight:600;
  margin: 8px 25px 8px -10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.6s ease;

}

#btn1 {
  background-color: #ff6e01;
  color:#f9f9f9
}

#btn1:hover {
  background-color:  #ff6e01 ;
}

.sign-btn button:hover {
  background-color: #ff6e01;
  color: #f9f9f9;
}

















/* home */

.home{
  min-height: 90vh;
  display: flex;
  align-items: center;
  background: url("https://wallpaperaccess.com/full/452374.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  color: var(--white);
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 400;
}

.home .wave{
  position: absolute;
  bottom: 0%;
   left: 0;
  width: 100%;
  height: 12rem;
}

.tagline{
  color: var(--white);
  margin: 15px;
  font-size: 14px;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  line-height: 22px;
}

/* end */

/* about */

.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/* end */

/* gallery */

.gallery{
  background: var(--bg);
}

.gallery .slide .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.gallery .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
  color: var(--white);
}

/* end */

/* animals */

.animal .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.animal .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.animal .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.animal .box-container .box:hover img{
  transform: scale(1.1);
}

.animal .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.animal .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.animal .box-container .box .content h3{
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

.animal .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

/* end */

/* banner */

.banner{
  background: url(../images/banner.png) no-repeat;
}

.banner .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.banner .row .content{
  flex:  1 1 39rem;
}

.banner .row .content h3{
  font-size: 2rem;
  color: var(--main);
  text-transform: uppercase;
}

.banner .row .content p{
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 1.8;
}

.banner .row .image{
  flex:0.6 1 41rem;
  margin-bottom: -14rem;
}

.banner .row .image img{
  width: 90%;
  /* height: 354px; */
}

.banner a{
  color: white;
}
/* end */

/* pricing */

.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box{
  background: var(--bg);
  padding: 3rem;
  text-align: center;
  border-radius: 79% 51% 81% 19% / 58% 93% 7% 42%;
}

.pricing .box-container .box:hover{
  border-radius: .5rem;
}

.pricing .box-container .box img{
  height: 15.5rem;
  width: 15.5rem;
  margin-bottom: .5rem;
}

.pricing .box-container .box h3{
  font-size: 2.6rem;
  color: var(--black);
  padding: 1rem 0;
}

.pricing .box-container .box .price{
  font-size: 2.2rem;
  color: var(--main);
  padding: .5rem 0;
}

.pricing .box-container .box p{
  font-size: 1.5rem;
  color: var(--black);
  padding: .5rem 0;
}


/* end */

/* contact */

.contact{
  background: var(--bg);
}

.contact form{
  padding: 2rem 10%;
  text-align: center;
}

.contact form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea{
  font-size: 1.7rem;
  width: 49%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: .5rem;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
  text-transform: capitalize;
}

.contact form textarea{
  height: 15rem;
  resize: none;
  width: 100%;
}

/* end */

/* footer */

/* .footer{
  background: url(../images/footer.jpg) no-repeat;
  background-size: cover;
  padding: 3rem 7%;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: var(--main);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links i{
  color: var(--main);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box .days{
  margin-left: 2.2rem;
  line-height: .2;
}

.footer .box-container .box .email{
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--white);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.footer .box-container .box .share a{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: var(--black);
  background: var(--white);
  font-size: 1.2rem;
  border-radius: 5rem;
  margin-right: .8rem;
  text-align: center;
  margin-top: 1.4rem;
}

.footer .box-container .box .share a:hover{
  background: var(--main);
}

.footer .credit{
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2.5rem;
  color: var(--black);
  border-top: .2rem solid rgba(0, 0, 0, 0.2);
}

.footer .credit .link{
  color: var(--main);
} */






/* footer css start */


.footer-container {
  background-color: #212329;
  padding-top:64px;
}

.footer {
  background-color: #212329;
  height: 30vh;
  width: 80%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto; 
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  text-align: center;
}

.footer .footer-3 {
  padding-left: 50px;
}

.footer-heading h4 {
  margin-bottom: 2rem;
  
}

.footer-heading a {
  text-decoration: none;
  margin-bottom: 1rem;
  color:#fff;
 
}

.footer-heading a:hover {
  color:red;
  transition: 0.3s ease-out;
}

.footer-container .item.social {
  text-align:center;
  padding-bottom: 20px;
  padding-left: 18px;
}

@media (max-width:991px) {
  .footer-container .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-container .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-container .item.social > a:hover {
  opacity:0.9;
}

.copyright{
  color:white;
  background-color: rgb(31, 161, 179);
  padding-left: 23px;
  font-size: 14px;
  letter-spacing: 1.5px;
}











/* footer css end */

/* end */

/* media queries */

@media(max-width: 991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 2rem;
  }
  section{
    padding: 8rem 2rem;
  }
}

@media (max-width: 768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .home{
    background-position: left;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .deco-title{
    display: none;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 4rem;
  }

}





/* footer css start from here */


footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 3em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 10em;
}
footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
ul li a:hover {
  color: #2a8ded;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
input,
#subscribe {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
#subscribe {
  background-color: #c7940a;
  color: #ffffff;
}
div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}

.copyright {
  padding: 1em 1em;
  background-color: #25262e;
}
.footer-menu{
  float: left;
  margin-top: 0px;
}

.footer-menu a{
  color: #cfd2d6;
  padding:6px;
  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}


/* footer css end */